@import "../../assest/css/mixins.scss";

.lead-button {
    height: 30px !important;
    padding: 0px 5px !important;
}

.search-input-lead {
    background-color: white !important;
}

@media (max-width: 600px) {
    .lead-button {
        height: 30px !important;
        padding: 0px 4px !important;
    }

    .lead-radio .ant-radio-button-wrapper {
        padding-inline: 4px !important;
    }
}

.search-input-lead>input {
    background-color: white !important;
}

.lead-filter-drawer .ant-drawer-header {
    padding: 8px 16px !important;
}

.lead-filter-drawer .ant-drawer-body {
    padding: 0px 16px !important;
}

.lead-card-header-name {
    font-size: 13px;
    font-weight: 500;
}

.lead-card-subheader-text {
    font-size: 12px;
}

.card-label-text-followup {
    font-size: 10px;
    color: #7e7e7e;
    font-weight: 500;
}

.card-stats-icon-div {
    padding: 1px 2px;
    border-radius: 20px;
}

.follow-up-stats-card {
    height: 100%;
    cursor: pointer;
}

.follow-up-stats-card:hover {
    background-color: $primary-ultra-light;
}

.follow-up-stats-card-selected {
    background-color: $primary-ultra-light;
    border: 2px solid $primary !important;
}