@import '../../assest/css/mixins.scss';

.profile-card .ant-card-body {
    padding: 0 !important;
}

.profile-name {
    font-weight: 500;
    font-size: 14px;
    color: $primary;
}

.profile-userlevel {
    color: $gray-medium-high;
    font-size: 10px;
}

.profile-erp {
    color: $gray-medium-high;
    font-size: 10px;
}

.header-profile {
    font-weight: 500;
    font-size: 14px;
    text-decoration: underline;
    color: $primary;
}

.profile-sub-header {
    color: $gray-medium-high;
    font-size: 12px;
}

.profile-value {
    color: $gray-medium-high;
    font-size: 12px;
    font-weight: 500;
}

.profile-description .ant-descriptions-row>td {
    padding-bottom: 8px !important;
}