@import "../../assest/css/mixins.scss";

.add-dashboard-form-item-header {
    font-size: 11px;
    margin-bottom: 1px;
}

.add-dashboard-form-item-header>span {
    color: red;
}

.add-dashboard-form-item-radio .ant-radio-button-wrapper {
    border-radius: 5px !important;
    margin-right: 5px !important;
    margin-bottom: 5px !important;
    border: 1px solid #d9d9d9 !important;
}

.add-dashboard-form-item-radio .ant-radio-button-wrapper:not(:first-child)::before {
    display: none;
}

.add-dashboard-element-preview-card {
    margin-bottom: 10px;
}

.add-dashboard-element-preview-card .ant-card-body {
    padding: 0px !important;
}

.add-dashboard-drawer .ant-drawer-header {
    padding: 8px 16px !important;
}

.add-dashboard-drawer .ant-drawer-body {
    padding: 16px !important;
}

.card-report-name-tile {
    background-color: #F5F5F5;
    border-radius: 10px;
    position: relative;
    height: 100px;
}

.card-report-name-tile>div>svg {
    color: #7a7a7a;
    width: 40px;
    height: 40px;
}

.card-report-name-tile-text {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #7a7a7a;
}

.card-report-name-tile-checkbox {
    position: absolute;
    top: 5px;
    left: 8px;
}

.card-report-name-tile-selected {
    border: 1px solid $primary;
}

.card-report-name-tile-checkbox-disabled .ant-checkbox-inner {
    background-color: #7a7a7a !important;
    border-color: #7a7a7a !important;
}

.card-report-name-tile-disabled {
    border: 1px solid #7a7a7a;
}