@import "../../../../assest/css/mixins.scss";

.th-mobile-sidebar .ant-drawer-header {
    padding: 8px !important;
}

/* .th-mobile-sidebar .ant-drawer .ant-drawer-body{
    padding: 0 !important;
} */

.th-mobile-sidebar .ant-drawer-wrapper-body .ant-drawer-body {
    padding: 0 !important;
}

.ant-layout .ant-layout-sider-trigger {
    display: none;
}

.ant-menu .ant-menu-item-selected {
    color: #004d76;
}

.sider-desktop-divider {
    margin: 1px;
    border-color: white
}

.search-module .ant-select-selector {
    height: 28px !important;
    font-size: 12px !important;
}

.search-module .ant-select-selector:hover {
    border-color: #d9d9d9 !important;
    outline: none;
}

.search-module .ant-select-selector:focus {
    border-color: #d9d9d9 !important;
    outline: none;

}

.search-module .ant-select-selector .ant-select-selection-search-input {
    height: 24px !important;
}

.search-module .ant-select-selector .ant-select-selection-item {
    font-size: 12px !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Apply the fade-in animation to an element */
.fade-in {
    animation-name: fadeIn;
    animation-duration: 0.3s;
    /* Duration of the animation */
    animation-timing-function: ease-in;
    /* Easing function */
    animation-fill-mode: forwards;
    /* Retain the end state of the animation */
}

.sidebar-menu-small {
    overflow: auto !important;
}

.sidebar-menu-collapsed {
    overflow: auto !important;
    height: calc(100vh - 82px) !important;
}

.sidebar-menu-not-collapsed {
    overflow: auto !important;
    height: calc(100vh - 115px) !important;
}

.search-icon-div {
    cursor: pointer;
    background-color: #F6F6F6;
    border-radius: 5px;
}